<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Olivia Hibbert</h1>
    <p > I am Olivia and i am a female student that enjoys reading fiction novels.
             It became apparent that i tend to like taking pictures of clouds when i checked gallery and they were the main subject of my phtos. I am a student of the Info3180 course this semester  
             I also do not like speaking about myself, which makes it a bit difficult to find words to write a whole paragraph about myself.
             I aim to try my best in this course to the best of my abilities. <p>
</body>
</html>